<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- MENU ROOT -->
        <menuitem
            id="menu_root"
            name="QLNS"
            sequence="0"/>

        <!-- QUẢN LÝ NHÂN VIÊN -->
        <menuitem
            id="menu_nhan_vien"
            name="Quản lý nhân viên"
            parent="menu_root"
            sequence="1"
            action="action_nhan_vien"/>

        <!-- DANH MỤC CHUNG -->
        <menuitem
            id="menu_danh_muc_chung"
            name="Danh mục chung"
            parent="menu_root"
            sequence="2"/>

        <!-- DANH MỤC ĐƠN VỊ -->
        <menuitem
            id="menu_don_vi"
            name="Danh mục đơn vị"
            parent="menu_danh_muc_chung"
            sequence="1"
            action="action_don_vi"/>

        <!-- DANH MỤC CHỨC VỤ -->
        <menuitem
            id="menu_chuc_vu"
            name="Danh mục chức vụ"
            parent="menu_danh_muc_chung"
            sequence="2"
            action="action_chuc_vu"/>

        <!-- DANH MỤC CHỨNG CHỈ -->
        <menuitem
            id="menu_danh-muc_chung_chi_bang_cap"
            name="Danh mục chứng chỉ, bằng cấp"
            parent="menu_danh_muc_chung"
            sequence="3"
            action="action_danh_muc_chung_chi_bang_cap"/>
        
        <menuitem name="Lịch sử công tác" 
            id="menu_lich_su_cong_tac" 
            parent="menu_root" 
            sequence="4"
            action="action_lich_su_cong_tac"/>

        <menuitem name="Danh sách chứng chỉ, bằng cấp" 
            id="menu_danh_sach_chung_chi_bang_cap" 
            parent="menu_root" 
            sequence="4"
            action="action_danh_sach_chung_chi_bang_cap"
        />

    </data>
</odoo>
